@import './styles/reset.css';

html {
  --primary-color: #ff6600;
  --gray: #4c5263;
  --white: #FFFFFF;
  --placeholder: #dddddd47;
  
  --titleSize: 24px;
  --default: 20px;
  --hintSize: 16px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  font-family: 'Nunito', sans-serif;
  user-select: none;
}

html, body, #root{
  height: 100%;
}